<% layout('layouts/boilerplate') %> 
    <div id="holiday">
    <h1>Holiday Homecoming!!</h1>
    <h3>About The Event</h3>
    <p>The 2021 Holiday Homecoming Weekend will include:  

        Friday, November 26
        
        Lighting of the Lights Ceremony
        Kick-Off to the Holiday Tree Trail
        
        Contest & Display
        
        (Decorated trees will be up until after Christmas, voting will be in person Nov. 26-28th)
           
        
        ​Saturday, November 27
        
        Electric Christmas Parade
        Holiday Movie
        
        Small Business Saturday
        
        Santa House (every Sat. & Sun until Dec. 19th)</p>
    </div>
