<% layout('layouts/boilerplate') %>
<div id="holidayEvent">
    <h1 class="stc">Holiday Homecoming</h1>
    <img src="https://images.unsplash.com/photo-1543589077-870d0ba0a43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
    <h3>About The Event</h3>
    <p>The 2021 Holiday Homecoming Weekend will include:

    <h4 class="title">Friday, November 26</h4>
    <h5>Lighting of the Lights Ceremony</h5>
    <h5>Kick-Off to the Holiday Tree Trail</h5>
    Decorated trees will be up until after Christmas and voting will be in person Nov. 26th-28th from 9 a.m till 5 p.m.
    Place your vote for your favorite tree at the ballot box next to Santa's House in the East First Street Plaza by
    Alter Brewing + Kitchen. </p>
    <p>
    <h4 class="title">Saturday, November 27</h4>
    <h5>Electric Christmas Parade</h5>
    <h5>Holiday Movie</h5>
    <h5>Small Business Saturday</h5>
    <h5>Santa House (every Sat. & Sun until Dec. 19th)</h5>
    </p>
</div>