<% layout('layouts/boilerplate') %> 
    
    <div id="restaurant">
        <h1>Restaurant Week Show Page</h1>
    
        <h3>About The Event</h3>
        <p>Enjoy the best food St. Charles has to offer this week! Support local!
            ​</p>
    
        </div>
    