<% layout('layouts/boilerplate') %>

<div id="holidayEvent">
    <h1 class="stc">Restaurant Week</h1>
    <h3>February 21st-25th, 2022</h3>
<h5>Enjoy the best food St. Charles has to offer during this week and feel good about supporting local!</h5>
<img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
    
    <p>St. Charles will showcase many restaurants throughout town. Please view
        participating restaurant menus and deals below. Check back often as we will continue to update the list. Be sure
        to mention specials when ordering.
        ​</p>
        <p>*Some restrictions may apply, see participating restaurants for details*</p>
</div>

<div>
    <h5>Participating Restaurants</h5>
    <ul class="businessLinks">
        <li><a onclick=window.open('http://alexanderscafe.com/stcharles.html')>
            Alexander's Cafe
          </a></li>
        <li><a onclick=window.open('https://www.alterbrewing.com/st-charles-brewery-kitchen/')>
            Alter Brewing + Kitchen
          </a></li>
        <li><a onclick=window.open('https://brunchcafe.com/menu/')>
            Brunch Cafe
          </a></li>
        <li><a onclick=window.open('https://www.toasttab.com/chamberred/v3/?mode=fulfillment')>
            Chamber Red Chinese Bistro
          </a></li>
        <li><a onclick=window.open('http://www.colonialcafe.com/')>
            Colonial Cafe
          </a></li>
        <li><a onclick=window.open('https://www.esfish.co/')>
            E&S Fish Co.
          </a></li>
        <li><a onclick=window.open('http://www.filling-station.com/')>
            Filling Station Pub & Grill
          </a></li>
        <li><a onclick=window.open('https://www.miafrancesca.com/location/mia-francesca-by-the-river/#dine-in-menu')>
            Francesca's by the River
          </a></li>
        <li><a onclick=window.open('https://www.giamiapizzabar.com/menus')>
            Gia Mia
          </a></li>
        <li><a onclick=window.open('https://order.kimmersicecream.com/charles/menu')>
            Kimmer's Ice Cream
          </a></li>
        <li><a onclick=window.open('https://lamesamodernmexican.com/menu/')>
            La Mesa Modern Mexican
          </a></li>
        <li><a onclick=window.open('https://www.osteriatrullimenu.com/')>
            Osteria Trulli
          </a></li>
        <li><a onclick=window.open('https://rocketfizz.com/')>
            Rocket Fizz
          </a></li>
        <li><a onclick=window.open('http://www.eatatsmittys.com/menu')>
            Smitty's on the Corner
          </a></li>
        <li><a onclick=window.open('https://www.st-charlesplace.com/')>
            St. Charles Place
          </a></li>
        <li><a onclick=window.open('https://eatatsyrup.com/')>
            Syrup
          </a></li>
        <li><a onclick=window.open('https://www.tasteofhimalayas.com/our_menu.php')>
            Taste of the Himalayas
          </a></li>
        <li><a onclick=window.open('https://theofficestc.com/')>
            The Office Dining and Spirits
          </a></li>
        <li><a onclick=window.open('https://www.thewineexchangestc.com/')>
            The Wine Exchange
          </a></li>
        <li><a onclick=window.open('https://townhousecafe.com/')>
            Town House Cafe
          </a></li>
    </ul>
</div>