<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scarecrow Fest</title>
</head>
<body>
    <div id="scarecrow">
    <h1>Scarecrow Festival Show Page</h1>

    <h3>About The Event</h3>
    <p>The 36th annual Scarecrow Festival, presented by AAA, will be held October 8-10 in downtown St. Charles. 85 Handmade scarecrows will be showcased around town for visitors to view, vote for their favorites, and visit our many local businesses. There will be a Family Zone with live entertainment and family activities, a festive photo op area, specials and promotions throughout town, and the Autumn on the Fox Craft Show in Pottawatomie Park.

 

        A new addition to the event this year is the Family Zone which will have live entertainment and family activities throughout the weekend.
        
        ​</p>

    </div>
</body>
</html>