<% layout('layouts/boilerplate') %>
<div id="holidayEvent">
    <h1>Scarecrow Festival</h1>
    <img src="https://images.unsplash.com/photo-1601171908937-4e1ed267b407?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNjYXJlY3Jvd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt="">

    <p>The 36th annual Scarecrow Festival, presented by AAA, will be held October 8th-10th in downtown St. Charles. 85
        handmade scarecrows will be showcased around town for visitors to view, vote for their favorites, and visit our
        many local businesses. There will be a Family Zone with live entertainment and family activities, a festive
        photo op area, specials and promotions throughout town, and the Autumn on the Fox Craft Show in Pottawatomie
        Park.
        A new addition to the event this year is the Family Zone which will have live entertainment and family
        activities throughout the weekend.

        ​</p>

</div>