<% layout('layouts/boilerplate') %>

<div class="content">
    <h1 class="oneDay">Family Friendly Weekend</h1>
    </div>
    <div>
    <div class="card-columns">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1564607890610-2172bf275043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaSUyMGdvbGZ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
          </div>
        <div class="card">
                <img src="https://images.unsplash.com/photo-1564701688670-a01002f8e7de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhbmR5JTIwc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
        <div class="card">
            <img src="https://www.stcnature.org/rccms/wp-content/uploads/2018/01/Resourses.jpg" class="card-img-top" alt="">
          </div>
        <div class="card">
                <img src="https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aWNlJTIwY3JlYW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
        <div class="card">
                <img src="https://images.unsplash.com/photo-1530059211-eea8ee48dff4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGV0dGluZyUyMHpvb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1565790247034-0cba5396165a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlZGFsJTIwYm9hdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
          </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1597699401474-e8714c1b7879?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhbmNha2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
    </div>
</div>
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="morning">
                <h5 class="card-title" id="itineraryTitle">Day 1</h5>
                <h6>MORNING</h6>
                <p class="card-text">Start your morning with a St. Charles staple, Colonial Cafe. Known in the community for their breakfast, you can also stop by there later in the day for their famous Kitchen Sink! 

                    Spend the rest of your morning into the afternoon at Pottawatomie Park. The park has mini golf, a pool, pedal boat rentals, playgrounds, sand volleyball courts and more.
                ​</p>
                  <h6>AFTERNOON</h6>
                <p class="card-text">The perfect spot for your family to grab a homemade fresh sandwich for lunch is Smitty's on the Corner. Then take a nice walk downtown to Rocket Fizz, where you can find shelves full of candy, soda pop and other vintage goodies.

                ​</p>
                  <h6>EVENING</h6>
                <p class="card-text">You are in the Suburbs of Chicago so obviously you must try a local pizza place! A must in St. Charles is Riverside Pizza. After you finish eating the cheesiest pizza in town, walk along the river path to Kimmer's Ice Cream. Known for exotic flavors, fun kid flavors and the famous Sparkle Cone™! 
                  ​</p>
              </div> 
            </div>
          </div>
        </div>
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="afternoon">
                <h5 class="card-title" id="itineraryTitle">Day 2</h5>
                <h6>MORNING</h6>
                <p class="card-text">Start your morning with a hearty breakfast at Brunch Cafe. Their menu has an array of options that are certain to please your whole family. Take a quick walk to the St. Charles History Museum to shop for local items and learn all about the history of the city.
                  ​</p>
                  <h6>AFTERNOON</h6>
                <p class="card-text">After a good meal, head to Hickory Knolls - 130 acres of woodlands, wetlands, prairies and a discovery center full of FREE nature activities, including animals that reside there. </p>
                  <h6>EVENING</h6>
                <p class="card-text">Enjoy a relaxing evening and catch the newest movie at Charlestowne 18 or enjoy a night of bowling at St. Charles Bowl. End the night with a delicious treat from Frozen Yogurt.
                 ​</p>
              </div> 
            </div>
          </div>
        </div>
    
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="evening">
                <h5 class="card-title" id="itineraryTitle">Day 3</h5>
                <h6>MORNING</h6>
                <p class="card-text">Start your morning off with Alexander's Cafe's famous Berry Good Pancakes, Micky Mouse Pancakes or Howdy Doody Eggs!
                  ​</p>
                  <h6>AFTERNOON</h6>
                <p class="card-text">Check out Urban Air Adventure Park to get all the energy out. Indoor trampolines, go-karts, ropes course, climbing wall, playgrounds and more!
                  ​</p>
                  <p>After you've worked up an appetite, head to Filling Station Bar & Grill. With an amazing patio and unique decor, it is the perfect spot for kid's meals and parents to grab a refreshing cold one before heading out.</p>
              </div> 
            </div>
          </div>
        </div>