<% layout('layouts/boilerplate') %>

<div class="content">
    <h1 class="oneDay">Weekend Stay</h1>
    <p>Find your weekend stay itenerary idea below. Enjoy all of St. Charles has to offer!</p>
    </div>
    <div>
    <div class="card-columns">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1555529771-122e5d9f2341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
          </div>
        <div class="card">
                <img src="https://images.unsplash.com/photo-1565113051777-a5b348a45d40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhZGRsZSUyMGJvYXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
        <div class="card">
                <img src="https://images.unsplash.com/photo-1517115358639-5720b8e02219?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmlzaCUyMG1hcmtldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJyZWFrZmFzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
          </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1550520293-d34b3f2e116d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BlYWslMjBlYXN5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
        </div>
        
        <div class="card">
          <img src="https://images.unsplash.com/photo-1505592225030-dad7a0531844?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG9sZCUyMGNhcnMlMjBzaG93fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="">
        </div>
    </div>
</div>
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="morning">
                <h5 class="card-title" id="itineraryTitle">Day 1</h5>
                <h6>HEAD TO YOUR HOTEL</h6>
                <p class="card-text">Prepare for the best service you’ll find in the area with our pristine exemplary hotels such as Hotel Baker, Courtyard by Marriott or Hilton Garden Inn. There are a total of 11 hotels to choose from in St. Charles.
                  ​</p>
                  <h6>GRAB DINNER</h6>
                <p class="card-text">St. Charles has some of the best restaurants in the area that can accommodate all your cravings.
                    Check out places like E&S Fish Market or Taste of the Himalayas in downtown, or
                    restaurants throughout the town such as Spotted Fox Ale House or St. Charles Place.
                  ​</p>
                  <h6>LISTEN TO LIVE MUSIC</h6>
                <p class="card-text">After you grab some grub, check out the live music scene in town, which is one of the best in all the Chicago suburbs.
                    Some of the hottest places are Club Arcada, The House Pub, and Pollyanna.
                  ​</p>
              </div> 
            </div>
          </div>
        </div>
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="afternoon">
                <h5 class="card-title" id="itineraryTitle">Day 2</h5>
                <h6>START THE DAY WITH A BALANCED BREAKFAST</h6>
                <p class="card-text">St. Charles has the best breakfast 
                    options around. A popular spot in downtown is Brunch Cafe, or
                    checkout other popular breakfast options around town like The Southern Cafe or Syrup. 
                  ​</p>
                  <h6>SHOP</h6>
                <p class="card-text">St. Charles is home to a diverse selection of retail and shopping choices. Upscale department stores like Von Maur call St. Charles home, and local businesses such as Trend & Relic, SG Too, The Pep Line, Jeans & a Cute Top Shop, or one of St. Charles great antique stores that feature a selection of vintage goods and wares. 
                  ​</p>
                  <h6>DINE</h6>
                <p class="card-text">St. Charles has plenty of options to end your day. Visit Rox City Grill, La Za Za Trattoria or The Graceful Ordinary for an upscale dinner along the river and excellent selections of cocktails and drinks. 


                 ​</p>
              </div> 
            </div>
          </div>
        </div>
    
    
        <div class="row w-auto">
          <div class="card w-100 mt-4 mb-3">
            <div class="card">
              <div class="card-body" id="evening">
                <h5 class="card-title" id="itineraryTitle">Day 3</h5>
                <h6>EXPLORE</h6>
                <p class="card-text">Make sure to stop by Baltria Classic & Custom Auto to tour the facility and see the amazing classic cars they have on site.
                  ​</p>
                  <h6>PLAY</h6>
                <p class="card-text">St. Charles has plenty of fun options to fill your day. Axe Throwing, Mini-golfing, canoeing, fishing, golfing and more options are all available for you to find and enjoy.                 
                  ​</p>
                  <h6>GRAB A MOMENTO</h6>
                <p class="card-text">As your day ends in St. Charles, stop by the Curious Fox Gift Shop to find St. Charles memorabilia to take home.
                  ​</p>
              </div> 
            </div>
          </div>
        </div>