<% layout('layouts/boilerplate') %> 

    <h1 class="showPageTitles">Downtown Businesses</h1>
    <p>Explore all of the businesses St. Charles has to offer in the Tri-cities.</p>


    <h3>Beauty & Wellness</h3>
    <ul class="businessLinks">
        <li><a onclick=window.open('https://www.facebook.com/pages/Avenue-Two-Barber-Shop/153749474639060')>
            Avenue Two Barber Shop
          </a></li>
        <li><a onclick=window.open('https://www.clubpilates.com/location/stcharles')>
            Club Pilates - St. Charles
          </a></li>
        <li><a onclick=window.open('https://gingerroothairsalon.com/')>
            Ginger Root Hair Salon
          </a></li>
        <li><a onclick=window.open('https://www.growingwellness.org/')>
            Growing Wellness LLC
          </a></li>
        <li><a onclick=window.open('https://www.heartslight.space/')>
            Heart's Light
          </a></li>
        <li><a onclick=window.open('https://www.luxdancestudio.com/')>
            Lux Dance Studio
          </a></li>
        <li><a onclick=window.open('http://mixologysalonspa.com/')>
            Mixology Salon and Spa
          </a></li>
        <li><a onclick=window.open('https://www.simplycrystalskincare.com/')>
            Simply Crystal Electrolysis & Skin Care
        </a></li>
        <li><a onclick=window.open('https://stcharlescounseling.net/')>
            St. Charles Counseling
        </a></li>
    </ul>

    <h3>Dental & Medical</h3>
    <ul class="businessLinks">
        <li><a onclick=window.open('http://www.bespokedentalco.com/')>
          Bespoke Dental Co.
      </a></li>
        <li><a onclick=window.open('https://www.growingwellness.org/')>
          Growing Wellness LLC
        </a></li>
        <li><a onclick=window.open('https://www.schultechiropractic.com/')>
          Schulte Family Chiropractic
        </a></li>
        <li><a onclick=window.open('https://tchpfreeclinic.org/')>
          Tri-City Health Partnership
        </a></li>
       
    </ul>

    <h3>Food & Drinks</h3>
    <ul class="businessLinks">
      <li><a onclick=window.open('https://www.alterbrewing.com/')>
        Alter Brewing + Kitchen
      </a></li>
      <li><a onclick=window.open('http://arcedium.com/')>
        Arcedium Coffeehouse
      </a></li>
      <li><a onclick=window.open('https://www.breadsmith.com/st-charles/')>
        Breadsmith
      </a></li>
      <li><a onclick=window.open('https://brunchcafe.com/')>
        Brunch Cafe
      </a></li>
      <li><a onclick=window.open('https://www.toasttab.com/chamberred/v3/?mode=fulfillment')>
        Chamber Red Chinese Bistro
      </a></li>
      <li><a onclick=window.open('https://corococoffee.com/')>
        Coroco Coffee
      </a></li>
      <li><a onclick=window.open('https://www.esfish.co/')>
        E&S Fish Co.
      </a></li>
      <li><a onclick=window.open('https://edenstc.net/')>
        Eden Restaurants & Events
      </a></li>
      <li><a onclick=window.open('https://www.flagshiponthefox.com/')>
       Flagship On The Fox
      </a></li>
      <li><a onclick=window.open('https://www.miafrancesca.com/location/mia-francesca-by-the-river/')>
       Francesca's By The River
      </a></li>
      <li><a onclick=window.open('https://www.thegracefulordinary.com/')>
       The Graceful Ordinary
      </a></li>
      <li><a onclick=window.open('https://www.facebook.com/The-Jalapeno-Grille-St-Charles-265034190513/')>
       The Jalapeno Grille
      </a></li>
      <li><a onclick=window.open('https://www.kavadiem.com/')>
        Kava Diem
       </a></li>
      <li><a onclick=window.open('https://lamesamodernmexican.com/')>
       La Mesa Modern Mexican
      </a></li>
      <li><a onclick=window.open('https://www.motoimoto.com/')>
       Moto iMoto
      </a></li>
      <li><a onclick=window.open('https://pollyannabrewing.com/')>
       Pollyanna Brewery 
      </a></li>
      <li><a onclick=window.open('https://www.riversidepizzapub.com/')>
       Riverside Pizza & Pub
      </a></li>
      <li><a onclick=window.open('https://www.thesoutherncafe.com/')>
       The Southern Cafe
      </a></li>
      <li><a onclick=window.open('https://eatatsyrup.com/')>
       Syrup
      </a></li>
      <li><a onclick=window.open('http://www.szechwanstc.com/')>
       Szechwan Restaurant
      </a></li>
      <li><a onclick=window.open('https://tasteofhimalayas.com/')>
       Taste Of The Himalayas
      </a></li>
      <li><a onclick=window.open('https://townhousecafe.com/')>
       Town House Cafe
      </a></li>
      <li><a onclick=window.open('https://www.thewineexchangestc.com/')>
       Wine Exchange
      </a></li>       
    </ul>

    <h3>Shopping</h3>
    <ul class="businessLinks">      
      <li><a onclick=window.open('https://www.beckybouquets.net/')>
        Becky's Bouquets
      </a></li>
      <li><a onclick=window.open('https://www.bluegoosemarket.com/')>
        Blue Goose Market
      </a></li>
      <li><a onclick=window.open('http://homebrewshopltd.com/')>
        Broken Brix Home Brew Shop
      </a></li>
      <li><a onclick=window.open('https://thediamondaire.com/')>
        The Diamondaire
      </a></li>
      <li><a onclick=window.open('https://jeansandacutetop.com/')>
        Jeans & A Cute Top Shop
      </a></li>
      <li><a onclick=window.open('https://thepepline.com/')>
        The Pep Line
      </a></li>
      <li><a onclick=window.open('https://rocketfizz.com/')>
        Rocket Fizz
      </a></li>      
      <li><a onclick=window.open('https://townhousebooks.com/')>
        Town House Books
      </a></li>
      <li><a onclick=window.open('https://www.trendandrelic.com/')>
        Trend & Relic
      </a></li>
      <li><a onclick=window.open('https://www.facebook.com/candyexperts/')>
        Warehouse Confectionary
      </a></li>       
    </ul>

    <h3>Other Services</h3>
    <ul class="businessLinks">
      <li><a onclick=window.open('https://www.andrewyoungphotography.com/')>
        Andrew Young Photography
      </a></li>
      <li><a onclick=window.open('https://www.cedarfoxweddings.com/')>
        Cedar Fox Weddings & Events
      </a></li>
      <li><a onclick=window.open('https://www.colemanland.com/')>
        Coleman Land Company
      </a></li>
      <li><a onclick=window.open('https://www.dtire.com/')>
        Discount Tire
      </a></li>
      <li><a onclick=window.open('https://www.hotelbaker.com/')>
        Hotel Baker
      </a></li>
      <li><a onclick=window.open('https://www.facebook.com/pages/Kevins-Service-Station/158973704136394')>
        Kevin's Service Station
      </a></li>
      <li><a onclick=window.open('https://www.lazarushouse.net/')>
        Lazarus House
      </a></li>
      <li><a onclick=window.open('http://www.marberrycleaners.com/')>
        Marberry Cleaners
      </a></li>
      <li><a onclick=window.open('https://www.regus.com/en-us')>
        Regus Group St. Charles
      </a></li>
      <li><a onclick=window.open('http://www.wilsontravelandcruise.com/')>
        Wilson Travel & Cruise
      </a></li>
      <li><a onclick=window.open('https://www.yursfuneralhomes.com/')>
        Yurs Funeral Home
      </a></li>       
    </ul>
    