<% layout('layouts/boilerplate') %> 

    <h1>Downtown Businesses</h1>
    <p>Explore all of the businesses St. Charles has to offer in the Tri-cities.</p>


    <h3>Beauty & Wellness</h3>
    <ul>
        <li><a onclick=window.open('https://www.facebook.com/pages/Avenue-Two-Barber-Shop/153749474639060')>
            Avenue Two Barber Shop
          </a></li>
        <li><a onclick=window.open('https://www.clubpilates.com/location/stcharles')>
            Club Pilates - St. Charles
          </a></li>
        <li><a onclick=window.open('https://gingerroothairsalon.com/')>
            Ginger Root Hair Salon
          </a></li>
        <li><a onclick=window.open('https://www.growingwellness.org/')>
            Growing Wellness LLC
          </a></li>
        <li><a onclick=window.open('https://www.heartslight.space/')>
            Heart's Light
          </a></li>
        <li><a onclick=window.open('https://www.luxdancestudio.com/')>
            Lux Dance Studio
          </a></li>
        <li><a onclick=window.open('http://mixologysalonspa.com/')>
            Mixology Salon and Spa
          </a></li>
        <li><a onclick=window.open('https://www.simplycrystalskincare.com/')>
            Simply Crystal Electrolysis & Skin Care
        </a></li>
        <li><a onclick=window.open('https://stcharlescounseling.net/')>
            St. Charles Counseling
        </a></li>
    </ul>

    <h3>Dental & Medical</h3>
    <ul>
        <li>Bespoke Dental Co.</li>
        <li>Carla Thomas Physical Therapy</li>
        <li>Growing Wellness LLC</li>
        <li>Schulte Family Chiropractic</li>
        <li>Tri-City Health Partnership</li>
       
    </ul>

    <h3>Restaurants</h3>
    <ul>
        <li></li>
       
    </ul>

    <h3>Shopping</h3>
    <ul>
        <li></li>
       
    </ul>

    <h3>Other Services</h3>
    <ul>
        <li></li>
       
    </ul>
    