<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="public/stylesheets/app.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Explore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Events</a>
            <a class="nav-link" href="#">Up and Coming</a>
          </div>
        </div>
      </nav>
<div class="content" style="text-align: center;">
    <h1>Discover St. Charles, Illinois!</h1>
    <h2>Pride of the Fox</h2>
    <img src="https://static.wixstatic.com/media/824d13_bb48975e97fc40b69197676f86c86bc9~mv2.jpg/v1/fill/w_640,h_296,al_c,q_80,usm_0.66_1.00_0.01/824d13_bb48975e97fc40b69197676f86c86bc9~mv2.webp" class="img-fluid" alt="Responsive image">
    <div class="card">
      <div class="card-body">
        St. Charles, Illinois is located just 35 miles west of Downtown Chicago, 22 miles from O'Hare Airport & 32 miles from Midway Airport. St. Charles offers residents, tourists & businesses unparalleled options for comfortable accommodations, a variety of indoor & outdoor activities, and offers convention spaces including a nationally-acclaimed conference center. With a vibrant downtown
        filled with shopping & dining, St. Charles has something for everyone!
      </div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">EAT</h3>
          <p class="card-text">Quick Eats, Fine Dining & Cocktails</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1445991842772-097fea258e7b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFrZXIlMjBob3RlbCUyMHNhaW50JTIwY2hhcmxlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">STAY</h3>
          <p class="card-text">Plan Your Visit</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/closeup-of-guitar-in-the-grass-picture-id693103516?b=1&k=20&m=693103516&s=170667a&w=0&h=E7KANzznMKsjjHPr5HVeeulU3I24LCu6xodv6JBTh6g=" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">PLAY</h3>
          <p class="card-text">Concerts, Parks & Events</p>
          <a href="/events/index" class="btn btn-info">Details</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


</body>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>