<% layout('layouts/boilerplate') %>
<div class="container">
  <h1 class="discover">Discover St. Charles, Illinois!</h1>
  <h2 class="discover">Pride of the Fox</h2>
  <img
    src="https://static.wixstatic.com/media/824d13_bb48975e97fc40b69197676f86c86bc9~mv2.jpg/v1/fill/w_640,h_296,al_c,q_80,usm_0.66_1.00_0.01/824d13_bb48975e97fc40b69197676f86c86bc9~mv2.webp"
    class="img-fluid" alt="Responsive image">
</div>
<div class="card">
  <div class="card-body w-100">
    St. Charles, Illinois is located just 35 miles west of Downtown Chicago, 22 miles from O'Hare Airport & 32 miles
    from Midway Airport. St. Charles offers residents, tourists & businesses unparalleled options for comfortable
    accommodations, a variety of indoor & outdoor activities, and offers convention spaces including a
    nationally-acclaimed conference center. With a vibrant downtown
    filled with shopping & dining, St. Charles has something for everyone!
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">EAT</h3>
          <p class="card-text">Quick Eats, Fine Dining & Cocktails</p>
          <a href="/eatShowPage" class="btn btn-info">Details</a>
        </div>
      </div>
  </div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1445991842772-097fea258e7b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFrZXIlMjBob3RlbCUyMHNhaW50JTIwY2hhcmxlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">STAY</h3>
        <p class="card-text">Plan Your Visit</p>
        <a href="/stayShowPage" class="btn btn-info">Details</a>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img
        src="https://media.istockphoto.com/photos/closeup-of-guitar-in-the-grass-picture-id693103516?b=1&k=20&m=693103516&s=170667a&w=0&h=E7KANzznMKsjjHPr5HVeeulU3I24LCu6xodv6JBTh6g="
        class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">PLAY</h3>
        <p class="card-text">Concerts, Parks & Events</p>
        <a href="/events" class="btn btn-info">Details</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>