<% layout('layouts/boilerplate') %>
<div class="content">
    <h1>Plan Your Visit</h1>
    <p>When you're ready to plan your trip to St. Charles, our resources and planning tools
        are here to help. From generating ideas on the perfect dining spot, where to grab a drink or finding a hotel
        that fits your needs, St. Charles has everything you need to plan the perfect getaway!</p>
</div>
<div class="content">
    <h2>Accommodations</h2>
    <p>From your luxury boutique hotel to your modest hotels, St. Charles has an array of places to stay. Experience the
        beauty St. Charles has to offer with an overnight stay at one of the many hotel options. Begin your search with
        our hotel guide below. </p>
</div>
<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1554647286-f365d7defc2d?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXwxMDU3NDg5M3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;"><a
                            onclick=window.open('https://www.hotelbaker.com/')>
                            Hotel Baker
                        </a></h5>
                    <p class="card-text">
                        Built in 1928, Hotel Baker is the epitome of luxury – elegant guest rooms and suites,
                        complimented by amenities such as free Wi-Fi, continental breakfast, a contemporary steakhouse,
                        cocktail lounge, event spaces, and a stunning rose garden on the Fox River.</p>
                    <p class="card-text"><small class="text-muted">avg/night: $169</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1518733057094-95b53143d2a7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvdGVsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;"><a
                            onclick=window.open('https://www.ihg.com/holidayinnexpress/hotels/us/en/saint-charles/chisa/hoteldetail?qDest=St.%20Charles,%20IL,%20United%20States&qCiD=20&qCoD=21&qCiMy=52019&qCoMy=52019&qAdlt=1&qChld=0&qRms=1&qWch=0&qSmP=1&setPMCookies=true&qRtP=6CBARC&qAAR=6CBARC&qAkamaiCC=US&srb_u=1&qRad=30&qRdU=mi&presentationViewType=null&qSrt=sBR&qBrs=re.ic.in.vn.cp.vx.hi.ex.rs.cv.sb.cw.ma.ul.ki.va')>
                            Holiday Inn Express
                        </a></h5>
                    <p class="card-text">
                        Newly renovated and offers an appealing combination of fresh, dynamic, & focused design. Express
                        start breakfast includes fresh brewed coffee & delicious variety of hot & cold breakfast
                        favorites.</p>
                    <p class="card-text"><small class="text-muted">avg/night: $119</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1576354302919-96748cb8299e?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTR8MTU4Mjc2NHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;"><a
                            onclick=window.open('http://www.bestwesternstcharles.com/')>
                            Best Western
                        </a></h5>
                    <p class="card-text">
                        After a full day out on the town, head back to Best Western for rest and relaxation. Each
                        comfortable guest accommodation here offers complimentary high-speed Internet access, cable
                        television with HBO®, a microwave, refrigerator and all the comforts of home.
                    </p>
                    <p class="card-text"><small class="text-muted">avg/night: $84.99</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <h2>Itinerary Ideas</h2>
    <p>Whether you are driving to St. Charles for a day trip, spending the whole weekend with us or planning a fun
        getaway with friends, we're here to help you plan the perfect trip!</p>
</div>